*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: 		#f5fffa;
    font-family: sans-serif;
    outline: none;
}
.container
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator
{
    /* background-image: linear-gradient(rgb(98, 102, 104),rgb(145, 143, 156)); */
    padding: 17px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px 	rgba(119,136,153,0.3),
                        5px 5px 12px rgba(119,136,153,1),
                        inset -5px 5px 12px rgba(119,136,153,0.3);
    display: grid;
    background-color: 	#87cefa;
    grid-template-columns: repeat(4,60px);

}
input{
    grid-column: span 4;
    width: 240px;
    height: 70px;
    border: none;
    box-shadow: inset -5px -5px 12px rgba(57, 72, 79, 0.7),
    -5px -5px 12px rgb(143, 171, 181,0.7);
    border-radius: 30px;
    color: black;
    font-size: 40px;
    text-align: end;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
}
button
{
    height: 50px;
    width: 50px;
    margin: 6px;
    font-size: 18px;
    border-radius: 10px;
    border: 2px ;
    box-shadow: inset -5px -5px 12px rgb(159, 208, 232,0.7),
    5px 5px 12px rgba(8, 17, 25, 0.2);
}
#equal
{
    width: 110px;
    background-color: rgb(255, 235, 205);
    box-shadow: 5px 5px 12px rgba(61, 45, 23, 0.5);
}
button:active
{
    box-shadow: inset -5px 5px 12px rgba(34, 36, 37, 0.5);
    
}
#equal:active
{
    box-shadow: inset -5px 5px 10px rgba(48, 35, 18, 0.5);

}